
@media screen and (min-width: 48em) {

	.brand-title {

 	 font-size: 3em;
	}

	.nav-menu {
		background: transparent;
	}


	.md-pull-down {
		bottom: 0;
	}


	.header {
	  position: fixed;
	}
	
	.content {
	  padding-top: 2em;
	}

	
	

}